<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 加载外部配置文件，resource：指向项目中resource目录 -->
    <properties resource="jdbc.properties"/>

    <settings>
        <!-- 可以实现驼峰命名匹配 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--<typeAliases>-->
        <!--&lt;!&ndash; 给具体类起一个别名，以后在配置中使用User，就代表使用了全路径 &ndash;&gt;-->
        <!--<typeAlias type="com.cxn.model.User" alias="User"/>-->
        <!--&lt;!&ndash; 指定一个包，Mybatis会自动扫描该包下所有的类，并且给这这类设置默认的别名，就是类的名字 &ndash;&gt;-->
        <!--<package name="com.cxn.model"/>-->
    <!--</typeAliases>-->

    <!-- 引入自定义拦截器插件 -->
    <plugins>
        <plugin interceptor="com.cxn.plugins.ExamplePlugin"/>
    </plugins>
    <!-- 运行环境，可以配置多个，default：默认指向development的环境 -->
    <environments default="development">
        <!-- 环境参数，id：这个环境的唯一标识 -->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- POOLED:使用缓存 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 指定所有的Mapper映射文件-->
    <mappers>
        <!-- 方式一：resource:在项目的resource目录下寻找 -->
        <mapper resource="UserMapper.xml"/>
        <mapper resource="UserDao.xml"/>
        <!-- 方式三：使用接口的全路径名称,要求配对的UserMapper.xml文件必须和接口处于同一包下 -->
        <!--<mapper class="com.cxn.dao.UserMapper"/>-->
        <!-- 方式四：
                配置Mapper接口所在包的名称，Mybatis会自动扫描接口及接口对应的Mapper.xml文件
                要求配对的UserMapper.xml文件必须和接口处于同一包下
                实际中使用扫描包+@Mapper注解的形式开发比较好
         -->
        <!--<package name="com.cxn.dao"/>-->
    </mappers>

</configuration>